/* 
    Created on : 7/05/2016, 11:06:21 AM
    Authors    : Juan Sebastian Martinez Serna,
                 Diana Maria del Pilar Socha Diaz
*/

#titulo {
    text-align: center;
    color: mediumvioletred;
    font-size: 40px;
}

#checklist {
    width: 600;
    float: left;
}

#mapaMental {
    width: auto;
    float: left;
}
#mapas {
    border: 2px solid mediumvioletred;
}

.mapaMental {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.mapaMental iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
