/* 
    Created on : 7/05/2016, 11:06:21 AM
    Authors    : Juan Sebastian Martinez Serna,
                 Diana Maria del Pilar Socha Diaz
*/

#titulo {
    text-align: center;
    color: mediumvioletred;
    font-size: 100px;
}